<log4net>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
        <file value="log/" />
        <appendToFile value="true" />
        <rollingStyle value="Date" />
        <datePattern value="yyyy-MM-dd'-CodeGenerator.log'" />
        <staticLogFileName value="false" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern>[%date{yyyy-MM-dd HH:mm:ss}] %message%newline</conversionPattern>
        </layout>
    </appender>
    <root>
        <level value="INFO" />
        <appender-ref ref="FileAppender" />
    </root>
</log4net>