<log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
        <!-- Pre-generate the filename with date -->
        <file type="log4net.Util.PatternString" value="log/%date{yyyy-MM-dd}-CodeGenerator.log" />
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
            <conversionPattern>[%date{yyyy-MM-dd HH:mm:ss}] %message%newline</conversionPattern>
        </layout>
    </appender>

    <root>
        <level value="INFO" />
        <appender-ref ref="FileAppender" />
    </root>
</log4net>